<div class="header-content">
    <div class="left-side">
        <img src="../../../assets/govbr.svg">
        <h1>Polo de Inovação Manaus</h1>
    </div>
    <div class="menu-options">
        <a href="#">
            <p>Início</p>
        </a>
        <a href="#">
            <p>Sobre o Polo</p>
        </a>
        <a href="#">
            <p>Laboratórios</p>
        </a>
        <a href="#">
            <p>Downloads</p>
        </a>
        <a href="#">
            <p>Polo EMBRAPII IF Amazonas</p>
        </a>
        <a href="#">
            <p>Notícias</p>
        </a>
    </div>
</div>